.style-4::-webkit-scrollbar-track
{
	background-color: rgba(0, 0, 0, 0);
}

.style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.style-4::-webkit-scrollbar-thumb
{
	background-color: #9eebcf;
}